h1 {
    border: solid;
    text-align: center;
}

div.gallery {
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 120px;
    height: 150px;
    scale: auto;

  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  div.image img {
    width: 170px;
    height: 170px;
    scale: auto;

  }